<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjoegocPa9NhM-3EIWVlDqxhR8qE3OlVE</string>
	<key>GCM_SENDER_ID</key>
	<string>826084846729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasetest2</string>
	<key>PROJECT_ID</key>
	<string>yumyum-7d3f4</string>
	<key>STORAGE_BUCKET</key>
	<string>yumyum-7d3f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826084846729:ios:8447b191a7366de6022a58</string>
</dict>
</plist>